<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
<title>👻 Pokemon App</title>

<style>
  body {
    padding: 0;
    padding-top: 10%;
    margin: 0;
  }

  .headline {
    padding-top: 5%;
    text-align: center;
    margin-bottom: 48px;
  }

  div#cell {
    width: 300px;
    height: 300px;
  }

  .container {
    display: grid;
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img.index {
    width: 100px;
    height: 100px;
  }

  form {
    padding-left: 10%;
  }

  div.container#one {
    display: grid
  }

  #element {
    padding: 0.5rem;
  }

  table {
    display: table;
    border-collapse: collapse
  }

  td,
  th {
    padding: 0.5rem;
    text-align: left;
  }

  table#indexPage {
    display: grid;
    min-width: 100%;
    padding-left: 44%;
  }

  td#element,
  th#element {
    display: table-row;
    align-content: center;
  }
</style>