<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div class="headline">
        <h2 style="color:green">Pokemon New Page</h2>
    </div>
    <form action="/pokemon" method="POST">
        <div class="row">
            <div class="six columns">
                <label for="name">Name</label>
                <input class="u-full-width" type="text" name="name" placeholder="enter pokemon name">
            </div>
            <div class="six columns">
                <label for="image">Iamge</label>
                <input class="u-full-width" type="file" name="img" placeholder="upload image"
                    accept="image/png, image/jpg">
            </div>
        </div>
        <!-- STATS TABLE ENTRY -->
        <table>
            <thead>
                <tr>
                    <th> Stats</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <input type="text" placeholder="enter hp" name="hp">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="enter attack" name="attack">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" placeholder="enter defence" name="defence">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" placeholder="enter spattack" name="spattack">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" placeholder="enter spdefense" name="spdefense">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" placeholder="enter speed" name="speed">
                    </td>
                </tr>

            </tbody>
        </table>
        <input style="background-color: green" type="submit" value="Add">
    </form>
</body>

</html>